<% include ../partials/header %>
<h1>Sign up to be <%= child.name%>'s Santa</h1>

<table class= "table table-striped table-hover">
<thead>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Needs</th>
    <th>Interests</th>
    <th>Site</th>
    <th>Santa</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><%= child.name%></a></td>
    <td><%= child.age %></td>
    <td><%= child.needs %></td>
    <td><%= child.interests %></td>
    <td><%= child.site %></td>
    <form action = "/children/<%=child.id%>?_method=put" method="POST">
    <td><input type="text" name= "child[santa]" value= "<%= child.santa%>" class="form-control" id="santaInput" autofocus></td>
    <td><button id= "chooseButton" class= "btn-primary btn- xs"> Choose Me! </button></td>
  </tr>
</tbody>
</table>

<input type="submit" value="Submit" class="btn btn-lg btn-success">
<a href="/children" class="btn btn-lg btn-warning">Cancel</a>
</form>



<% include ../partials/footer %>
<br>

<form action="/logout">
    <input type="submit" value="Logout" class="btn btn-primary btn-xs">
</form>